body {
  background-color: #d9e8ff;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #ffffff;
  border-radius: 1em;
  width: 75%;
  height: 80%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
}

.top_img {
  width: 75%;
  margin: 0 auto;
}

.top_img > img {
  width: 100%;
}

.input_path {
  margin: 0 auto;
}

.dir_input_message {
  border: 1px solid #707070;
  width: 80%;
  margin: 0 auto;
}

.dir_input_message p {
  position: relative;
  width: 80%;
  color: #707070;
  font-size: 18px;
  top: 10px;
  left: 20px;
}

.form_wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.form_wrapper > div {
  margin: 0 12px;
}

.btn_dir {
  width: 200px;
  font-size: 18pt; /* 文字サイズ */
  text-align: center; /* 文字位置   */
  cursor: pointer; /* カーソル   */
  padding: 12px; /* 余白       */
  background: #167cb2; /* 背景色     */
  color: #ffffff; /* 文字色     */
  line-height: 1em; /* 1行の高さ  */
  transition: 0.3s; /* なめらか変化 */
  box-shadow: 2px 2px 4px #666666; /* 影の設定 */
  border: 2px solid #167cb2; /* 枠の指定 */
}

.btn_execution {
  width: 200px;
  font-size: 18pt; /* 文字サイズ */
  text-align: center; /* 文字位置   */
  cursor: pointer; /* カーソル   */
  padding: 12px; /* 余白       */
  background: #167cb2; /* 背景色     */
  color: #ffffff; /* 文字色     */
  line-height: 1em; /* 1行の高さ  */
  transition: 0.3s; /* なめらか変化 */
  box-shadow: 2px 2px 4px #666666; /* 影の設定 */
  border: 2px solid #167cb2; /* 枠の指定 */
}
